body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

.box {
    background: white;
    padding: 20px;
    max-width: 750px;
    margin: auto;
    border-radius: 6px;
}

h1, h2 {
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background: #333;
    color: white;
}

#system, #teacherArea {
    display: none;
}
